/* header */
.header{
    height: 88px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-right{
    width: 400px;
    height: 88px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-right .search-box{
    width: 340px;
    height: 88px;
    position: relative;
}
.search-box .search{
    width: 260px;
    height: 30px;
    border: 1px solid red;
    margin-top: 20px;
}
.search-box .submit{
    width: 51px;
    height: 32px;
    background: red;
    color: #fff;
    text-align: center;
    line-height: 32px;
    position: absolute;
    left: 262px;
    top: 20px;
}
.search-box ul li{
    margin-top: 10px;
    font-size: 12px;
    float: left;
    padding: 0 5px;
    border-right: 1px solid #ccc;
}
.registry-main{
    height: 474px;
    position: relative;
    background: url(../images/register_bg.jpg) no-repeat;
}
.registry-main form{
    width: 350px;
    height: 400px;
    border: 1px solid  #ccc;
    position: absolute;
    left: 20px;
    top: 20px;
    background: #fff;
    box-sizing: border-box;
    padding: 10px;
}
.registry-main form h3{
    text-align: center;
    height: 60px;
    font-size: 18px;
    line-height: 60px;
    font-weight: bold;
    color: #333;
    border-bottom: 1px solid #ccc;
}
.info-submit span{
    font-size: 12px;
    line-height: 16px;
    width: 80px;
    height: 80px;
}
.registry-main p{
    height: 40px;
    font-size: 14px;
    color: #333;
    margin: 10px 0;
}
.registry-main .txt{
    width: 200px;
    height: 30px;
}
.registry-main .yzm{
    width: 100px;
    height: 30px;
}

.info-submit{
    width: 300px;
    height: 30px;
    background: red;
    color: #fff;
    line-height: 30px;
    text-align: center;
}
.forget{
    width: 100px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    margin-left: 220px;
    color: #ccc;
}
/* links */
/* 底部 */
.bottom{
    margin-top: 20px;
    min-height: 100px;
    box-sizing: border-box;
    padding:20 0px;
}
.bottom p{
    text-align: center;
}
.bottom ul{
    width: 500px;
    margin-left: 30%;
    margin-top: 5px;
}
.bottom ul li{
    padding:  0 10px;
    margin-left: 10px;
    border-right: 1px solid #ccc;
}
.bottom p{
    font-size: 12px;
    color: #333;
}
.bottom ul a{
    color: #333;
}
.bottom .footer-img{
    margin-top: 10px;
    width: 300px;
    margin-left: 35%;
}
.bottom .footer-img img{
    float: left;
    margin-right: 10px;
}
